<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aravindh MS - Profile</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container mt-5">
        <!-- Profile Section -->
        <div class="text-center">
            <img src="https://gravatar.com/userimage/14968602/eace7d07aedab41ddc0266981f07da7c.jpeg?size=256" class="rounded-circle mb-3" alt="Profile Picture">
            <h1>Aravindh MS</h1>
            <p class="lead">Senior Application Engineer @ PagoNxt</p>
            <p>Chennai | +91-9840693143 | <a href="mailto:aravindhms1@gmail.com">aravindhms1@gmail.com</a></p>
        </div>

        <!-- Summary Section -->
        <section id="summary" class="my-5">
            <h2>Summary</h2>
            <p>Proficient Application Support Engineer/Site Reliability Engineer offering 9+ years of experience with complete responsibility of troubleshooting, investigating, monitoring and analyzing of Production Applications in Windows and Unix/Linux platforms in both Product and Service based IT, Entertainment and Financial Technology industries. Passionate about automation and continuous service improvement.</p>
        </section>

        <!-- Skills Section -->
        <section id="skills" class="my-5">
            <h2>Skills</h2>
            <ul>
                <li>Languages / Scripting: UNIX, SQL, PL/SQL, Python</li>
                <li>Operating System: Windows, Unix</li>
                <li>Ticketing Tools: Service Now, BMC Remedy, JIRA</li>
                <li>Monitoring Tools: Datadog, Kibana (ELK), Splunk</li>
                <li>Scheduling Tools: Control-M, crontab</li>
                <li>Reporting tool: Tableau, Power BI</li>
                <li>Automation Tools: Rundeck</li>
                <li>Documentation Tools: Confluence</li>
            </ul>
        </section>

        <!-- Experience Section -->
        <section id="experience" class="my-5">
            <h2>Professional Experience</h2>
            <div>
                <h3>Pagonxt Merchant Solutions (Wirecard), Chennai</h3>
                <h4>Senior Application Engineer, April 2020 – Present</h4>
                <ul>
                    <li>Deploying and releasing software systems, working with development teams to plan deployment/rollback strategies, doing gradual or parallel deployments, and using CI/CD processes applying Blue-Green deployment strategy.</li>
                    <li>Conducted walk-throughs and sign-off meetings before implementing the Production version.</li>
                    <li>Collaborated with release management team for post deployment validations and server/service restarts.</li>
                    <li>Provided L2.5 level support for Payment & Risk applications and their infrastructure services hosted in various data centers worldwide.</li>
                    <li>Monitored Payment lifecycle/batch with Control-M batch scheduling tool and investigated reported issues by analyzing API calls, database logs, and web server logs.</li>
                    <li>Leading efforts to resolve major production issues with relevant teams and incident managers.</li>
                    <li>Coordinated with DC operations team for disaster recovery testing and traffic management.</li>
                    <li>Automated daily operational activities using Rundeck and Python scripts.</li>
                    <li>Monitored system performance and availability. Used tools to set up alerts and respond to issues quickly which eventually reduced incident response times by 40%.</li>
                    <li>Developed SQL scripts for reports requested by Business Analysts.</li>
                    <li>Created and managed internal documentations using Atlassian tools like Confluence and Jira.</li>
                    <li>Successfully migrated key applications to cloud platforms resulting in 30% increase in reliability.</li>
                </ul>
            </div>
            <div>
                <h3>Cognizant, Chennai</h3>
                <h4>Associate – Projects, June 2014 – April 2020</h4>
                <ul>
                    <li>Resolved incidents, issues and production defects as L2 member in managed services support model.</li>
                    <li>Monitored critical jobs 24x7, identifying and resolving issues before they impacted business operations, resulting in a 40% reduction in downtime incidents and enhancing overall system reliability.</li>
                    <li>Implemented automation functionalities which reduced manual support activities by 30% using Shell/Python scripts and scheduling crontab jobs.</li>
                    <li>Developed new application functionalities using Python, Informix, Unix, Shell Scripting, and SQL under HP-UX platform.</li>
                    <li>Conducted root cause analysis on production issues and framed action items for prevention and resolution.</li>
                    <li>Collaborated with various project teams for new deployments and resolving tickets through defined process.</li>
                    <li>Improved productivity by planning automated job scheduling and notifying about failures and alerts.</li>
                    <li>Prepared project closure documents including weekly status report, monthly status report, and KPI metrics report.</li>
                    <li>Maintained KEBD documents on Confluence and WordPress platforms.</li>
                    <li>Recognized for innovative problem-solving skills, consistently resolving technology issues and implementing solutions that improved operational performance by 30% boosting team productivity by 20%.</li>
                </ul>
            </div>
        </section>

        <!-- Projects Section -->
        <section id="projects" class="my-5">
            <h2>Key Projects</h2>
            <div>
                <h3>Walt Disney Parks and Resorts (WDPR) – DI Explorer</h3>
                <p>A web-based utility built using Python Flask framework to perform basic operations like ad-hoc script execution, one stop issue/error analysis using log files and track execution history for Python/batch scripts bypassing direct access to production server.</p>
                <ul>
                    <li>MVC design pattern with Python Flask Framework, Python Jinja templates, HTML5, Bootstrap CSS for the front end, and SQLAlchemy for the ORM.</li>
                    <li>Selenium, Beautiful Soup with Python to scrap the job details from web interface.</li>
                    <li>WMIC calls and Python subprocess to execute remote process on a remote server.</li>
                </ul>
            </div>
            <div>
                <h3>Walt Disney Parks and Resorts (WDPR) - Information Advantage</h3>
                <p>Active member of Information Advantage team, acquiring knowledge in Disney sales ticket processing, business flow, reporting methodologies, Unix and Python jobs, database tables and structures.</p>
            </div>
        </section>

        <!-- Education Section -->
        <section id="education" class="my-5">
            <h2>Education</h2>
            <ul>
                <li>Sri Sivasubramaniya Nadar College of Engineering, Chennai - Master of Engineering, Computer and Communication, June 2014</li>
                <li>SKR Engineering College, Chennai - Bachelor of Engineering, Electronics and Communication, June 2011</li>
            </ul>
        </section>

        <!-- Contact Section -->
        <section id="contact" class="my-5">
            <h2>Contact</h2>
            <p>If you'd like to get in touch, feel free to <a href="mailto:aravindhms1@gmail.com">email me</a>.</p>
            <p>Languages Known: English, Tamil, Malayalam</p>
            <a href="https://www.linkedin.com/in/aravindhms/" class="btn btn-primary" target="_blank">LinkedIn</a>
            <a href="https://github.com/aravindhms" class="btn btn-dark" target="_blank">GitHub</a>
        </section>
    </div>
</body>
</html>
